<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
            <div class="photo">
                <img src="/static/images/spy.jpg">
            </div>
            <h3>紅焰千辛鍋</h3>
            <a>百辛淬煉，焰火生香，一鍋麻辣，盡顯熱情。</a>
        </div>
        <div>
            <div class="photo">
                <img src="/static/images/med.jpg">
            </div>
            <h3>秘傳藥膳鍋</h3>
            <a>藥膳湯底源自於三十年經驗中藥行師傅傳承，經由數種潤補良材調配而成</a>
        </div>
        <div>
            <div class="photo">
                <img src="/static/images/nor.jpg">
            </div>
            <h3>昆布柴魚鍋</h3>
            <a>以北海道岸與高山高麗菜為基底，讓食材與湯頭兩者結合之後可以比翼雙飛</a>
        </div>

</body>
</html>